
@font-face {
    font-family: outfit;
    src: url(https://fonts.google.com/specimen/Outfit);
}

body{
    background-color: #0D1A2D;
   
}

#card{
    background-color: #15273F;
    width: 20em;
    height: 33em;
    border-radius: 2.5%;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

.img-equilibrio {
    height: 17em;
    border-radius: 2.5%;
    margin: 7%;
    margin-bottom: 0%;
}

.titulo-card{
    color: #FBFFFF;
    font-size: 1.3em;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    margin-left: 7%;
}

.descricao-card{
    margin-left:7% ;
    margin-right: 7%;
    color: #88A7D2;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    margin-bottom: -3%;
}


.container{
    vertical-align: center;
    justify-content: space-between;
}
.informacoes{
    margin-top: 10%;
    list-style-type: none;
    width: 84%;
    height: 2em;
    font-size: 0.8em;
    vertical-align: center;
    
    
}

    .informacoes-item{
        display: inline;
        font-family: 'Outfit', sans-serif;
    }

        .informacoes-item_um{
          color: #3EEDF0;
          font-weight: 600;
          margin-left: -7%;
          margin-right: 40%;
        
        }

        .poderzinho{
            margin-right: 2.5%;
            margin-bottom: -1%;
        }

        .informacoes-item_dois{
            color: #88A7D2;
            font-weight: 600;
          }

.divisoria{
    background-color:#88A7D2 ;
    width: 86%;
    height: 0.1%;
    margin-left: 7%;
}

.container2{
    vertical-align: center;
}

.usuario{
    margin-top: 10%;
    list-style-type: none;
    width: 84%;
    height: 3em;
    font-size: 0.8em; 
    font-family: 'Outfit', sans-serif; 
    margin-top: 4%;  
}

    .usuario-item{
        width: 25%;
        display: inline;
    }

    .usuario-item_dois{
        color:#88A7D2;
    }

    .usuario-item_tres{
        color: #FBFFFF;
    }

.image-usuario{
    width: 2em;
    height: 2em;  
    padding: 0.30%;
    background-color:#FBFFFF;
    border-radius: 50%;  
    margin-left: -5%;
    margin-right: 3%;
    margin-bottom: -3% ;
    
}
 
/*hover*/

.titulo-card:hover{
    color:#3EEDF0 ;
    cursor: pointer;
}

.usuario-item_tres:hover{
    color:#3EEDF0;
    cursor: pointer;
}